-### layouts/homepage.haml
= render :partial => 'menu', :locals => { :here => 'homepage' } 

%h2 Austin before they sold out 
%p Gluten-free pitchfork leggings, irony put a bird on it whatever aesthetic. Cred wes anderson four loko irony, craft beer VHS vice yr fixie. Sartorial fixie before they sold out keytar, jean shorts cliche vegan butcher pitchfork freegan art party cosby sweater wolf +1. Artisan chambray mlkshk fixie single-origin coffee, irony vegan leggings blog skateboard ethical +1. Lo-fi vegan master cleanse, brooklyn banh mi mixtape mustache. Carles viral banh mi twee bicycle rights. Squid gluten-free vice sartorial, iphone thundercats retro trust fund tumblr.

%ul
  - 5.times do |i|
    %li== #{i+1}
