= render :partial => 'menu', :locals => { :here => 'secondary' } 

%h2 Helvetica food truck sustainable gluten-free PBR 
%p Etsy wolf before they sold out lo-fi ethical, PBR Austin letterpress you probably haven't heard of them +1 stumptown lomo 8-bit craft beer vinyl. Keytar gentrify keffiyeh echo park, retro freegan biodiesel four loko before they sold out you probably haven't heard of them banh mi sustainable Austin. Organic vinyl blog, 3 wolf moon wes anderson whatever retro banksy quinoa brooklyn mixtape art party hoodie raw denim. Freegan leggings squid, homo synth vice banh mi wayfarers vinyl cliche craft beer. Cosby sweater portland american apparel high life, food truck lomo etsy lo-fi yr master cleanse seitan +1 scenester biodiesel chambray. Food truck vice mixtape thundercats, squid salvia etsy shoreditch. Leggings 3 wolf moon marfa fanny pack.
