= render :partial => 'menu', :locals => { :here => 'tertiary' } 

%h2 Sartorial fixie before they sold out keytar 
%p Gentrify wayfarers master cleanse shoreditch carles squid whatever chambray. Helvetica PBR banh mi cardigan, iphone cred portland mlkshk beard trust fund wes anderson wolf vegan brunch. Wes anderson dreamcatcher scenester skateboard. Carles art party echo park portland single-origin coffee keffiyeh. Mustache chambray cred, raw denim scenester homo food truck sustainable retro vice iphone. Messenger bag blog irony skateboard, trust fund readymade seitan hoodie. Tumblr banksy +1 gluten-free twee PBR tattooed.
